/*  your css code here. If applicable */
/* body{
	display: flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	width:auto;
} */
#line {
  background-color: black;
  width: 200px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
/*   transform-origin: left; */
	transition: transform 0.2s linear;
}
